n8n-workflow-fix.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-imagen",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-224, 1024],
      "id": "791ca6b9-0687-4ccf-9219-07623a467e25",
      "name": "Recibir imagenes",
      "webhookId": "67316d57-9fd5-4c61-9033-b131b76d0bdc"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data0",
        "name": "={{ $json.ID }}-{{ $json['Nombre del Caso'] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bM4Q4zq1O5d6xXnIHaJGTKJU-G8Pwags",
          "mode": "list",
          "cachedResultName": "Evidencias UAT Ametller",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bM4Q4zq1O5d6xXnIHaJGTKJU-G8Pwags"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [16, 1024],
      "id": "c77ea983-a0f2-42cb-aa47-11030260e62e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0bXqko7f0R0bNyeU",
          "name": "Drive Recluta de Viseo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "=Test_{{ $('Recibir imagenes').item.json.ID }}-{{ $now.toFormat('dd-MM-yyyy') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [960, 1008],
      "id": "281d4e5e-ab17-4516-987d-f1cf8f92c221",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0bXqko7f0R0bNyeU",
          "name": "Drive Recluta de Viseo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [736, 1008],
      "id": "bcfa3f45-7338-40f2-b82e-f093ea3ef875",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b8073e5-2dfd-4bf6-8390-48dcf9d5d56c",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [432, 1024],
      "id": "37a92bbc-07db-46d5-8b8d-8d481fe89fa4",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_Sl8XexFBDaoHNEAUEqnIH5ZSaaNuL_mZfyBI0LenRc",
          "mode": "list",
          "cachedResultName": "Pruebas e2e Ametller con n8n ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_Sl8XexFBDaoHNEAUEqnIH5ZSaaNuL_mZfyBI0LenRc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Recibir imagenes').item.json.body.device === 'mobile' ? 'Pruebas E2E(DEV) MOBILE' : $('Recibir imagenes').item.json.body.device === 'global' ? 'Pruebas Globales' : 'Pruebas E2E(DEV) DESKTOP' }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [208, 1024],
      "id": "f78c30fe-3b8b-408e-9e3a-1780208904e1",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4sqxb24beNAGYZp0",
          "name": "Sheet  Recluta de Viseo"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"url\": \"{{ $('Upload file').item.json.webViewLink }}\",\n  \"miniatura\": \"{{ $('Upload file').item.json.thumbnailLink }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1184, 1008],
      "id": "472eb8fe-ac7a-42ce-b9b4-e7dfde4128ef",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Recibir imagenes": {
      "main": [[{"node": "Upload file", "type": "main", "index": 0}]]
    },
    "Upload file": {
      "main": [[{"node": "Get row(s) in sheet1", "type": "main", "index": 0}]]
    },
    "Update file": {
      "main": [[{"node": "Respond to Webhook1", "type": "main", "index": 0}]]
    },
    "Limit1": {
      "main": [[{"node": "Update file", "type": "main", "index": 0}]]
    },
    "If": {
      "main": [[{"node": "Limit1", "type": "main", "index": 0}]]
    },
    "Get row(s) in sheet1": {
      "main": [[{"node": "If", "type": "main", "index": 0}]]
    }
  }
}
